@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navigation-button-size: 40px;
  --main-section-padding: 20px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
}

.main-section-padding {
  padding: var(--main-section-padding);
}
.swiper-button-prev_v,
.swiper-button-next_v {
  background-color: #ffffffb7;
  height: var(--navigation-button-size) !important;
  width: var(--navigation-button-size) !important;
  border-radius: 50px;
  position: absolute;
  top: calc(30% - var(--navigation-button-size) / 2);
  z-index: 10;
}
.swiper-button-prev_v {
  left: -20px;
}
.swiper-button-next_v {
  right: -20px;
}
.my-swiper {
  width: 100%;
  height: 350px;
}
.my-swiper-slide {
  width: 320px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
.swiper-button-prev_v svg path {
  justify-self: center;
}

@media (max-width: 1300px) {
  .swiper-button-prev_v,
  .swiper-button-next_v {
    display: none;
  }
}
